@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.menu-category__card {
  background-color: $white-color;
  margin: $normal-margin;
  border-radius: $card-border;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @include simple-shadow;
}

.menu-category-card__detail {
  padding: $normal-padding;
  line-height: $text-line-height;
  width: 80%;
  transition: width 500ms;

  p,
  h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.menu-category-card__price {
  padding: $normal-padding;

  p {
    font-weight: $title-weight;
  }
}

.menu-category__card {
  .menu-category-card__price {
    transition: transform 500ms;
    position: absolute;
    right: 0;
  }

  &:hover {
    .menu-category-card__detail {
      width: 65%;
    }
    .menu-category-card__price {
      transform: translate(-60px, 0px);
    }
    .menu-category-card__check {
      transform: scaleX(1);
      .icon {
        animation: rotation 500ms forwards;
      }
    }
  }
}

.menu-category-card__check {
  position: absolute;
  right: 0;
  display: inline-block;
  top: 0;
  width: 60px;
  background: $third-color;
  height: 100%;
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 500ms;

  @include border-card-check;

  .icon {
    position: absolute;
    top: calc(50% - 1em / 2);
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1rem;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
