@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.partners-list__card{
    background-color: $white-color;
    margin: $normal-margin;
    border-radius: $card-border;
    position: relative;

    @include simple-shadow;

}
.partners-list-card__img{
    width: 100%;

    .partners-list-card-img--image-size{
        @include partner-card-border-top;
        width: 100%;
        height: 200px;
        object-fit: cover;
        object-position: 50% 60%;
    }

    .partners-list-card-img__tag{
        position: absolute;
        right: 10px;
        margin: $normal-margin;
        background-color: $third-color;
        color: $third-dark-color;

        @include tag-padding;
    }
}

.partners-list-card__content{
    display: flex;
    padding: $normal-padding;
    justify-content: space-between;


    .partners-list-card-content-favorite-button__icon{
        width: $icon-size-tall;
        cursor: pointer;
        position: relative;

        fill: transparent;
        stroke: $black-color;
        stroke-width: 30;
        overflow: visible;

        &:hover{
            fill:url(#favorite-button-gradient);
            stroke: url(#favorite-button-gradient);
            
        }
    }
}

.partners-list-card-content__text{
    .partners-list-card-content-text__name, .partners-list-card-content-text__city{
        line-height: $text-line-height;
        }

    .partners-list-card-content-text__city{
        font-weight: $text-weight;
    }
}
