@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.service-usage__step{
    display: flex;
    margin: $normal-margin;
    align-items: center;
    position: relative;

    .service-usage-step__number{
        background-color: $primary-color;
        width: 20px;
        border-radius: 100px;
        padding: 5px;
        text-align: center;
        color: $white-color;

        position: absolute;
        left: -15px;
    }
}

.service-usage-step__content{
    display: flex;
    align-items: center;
    background-color: $section-background;
    width: 100%;
    padding: $normal-padding;
    border-radius: $service-card-border;

    @include simple-shadow;
    .service-usage-step-content__text{
        font-weight: $title-weight;
    }
    .service-usage-step-content__icon{
        width: $icon-size-medium;
        height: $icon-size-medium;
        padding: $icon-service-padding;
    }
}

.service-usage-step--with-background{
    background-color: $primary-light-color;

    .service-usage-step-content-icon--with-color{
        color: $primary-color;
    }
}
