 @use '../utils/variables' as *;

 @import "../../../node_modules/normalize.css/normalize";

body {
  font-family: $text-family;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

h3, p, h2{
  margin: 0;
}

button {
  background-color: inherit;
  box-shadow: none;
  border: none;
}

h3, h1{
  font-weight: $title-weight;
}
h1{
  letter-spacing: 1.5px;
}
p{
  font-weight: $text-weight;
}
