@use '../utils/variables';

.location{
    display: flex;
    justify-content: center;
    background-color: variables.$location-background;
}

.explore{
    background-color: variables.$section-background;
    padding: variables.$normal-padding;
    text-align: center;
}

.partners-list{
    background-color: variables.$section-background;
    padding: variables.$normal-padding;
}