@use '../utils/variables' as *;
@use '../utils/mixins' as *;

// Layout Mobile First

.menu {
  text-align: center;
  position: relative;
  margin-top: -50px;
  background-color: $section-background;
  padding-top: $medium-padding;

  @include menu-border-top;

  &__img {
    width: 100%;
    object-fit: cover;
    height: 300px;
  }

  &__header {
    margin: $normal-margin;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $title-family;
  }
}

.menu-category__title {
  margin: $large-margin $normal-margin 0 $normal-margin;
  padding-bottom: $normal-padding;
  font-weight: $text-weight;
  font-size: $text-size;
  width: min-content;

  @include border-bottom-title;
}

.menu__category {
  .menu-category__card {
    opacity: 0;
    top: 20px;
  }

  @include makeReveal($order);
}

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(20px);
  }
}

// Responsive
@media (min-width: $tablet) {
  .menu__category {
    padding: $normal-padding $large-padding;
  }
}
@media (min-width: $desktop) {
  .menu {
    padding: $large-padding;

    &__img {
      height: 500px;
    }
  }
  .all-category {
    display: flex;
    justify-content: center;
    margin: $medium-margin auto;
  }
  .menu-category__card {
    width: $desktop-card;
    margin: $normal-margin;
  }

  .menu-category__title {
    margin: auto;
  }

  .menu__category {
    padding: 0;
  }
}
