@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.explore {
  background-color: $section-background;
  padding: $normal-padding;
  text-align: center;
  @include section-padding;

  &__title,
  &__subtitle,
  &__button {
    margin: $normal-margin;
  }

  &__subtitle{
      font-weight: $text-weight;
      font-size: $title-size;
  }

  &__title{
      font-size: $tall-title-size;
  }
}
