@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.location{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: $location-background;
    padding: $location-padding;

    &__text{
        font-weight: $text-weight;
        font-size: $text-size;
    }

    &__icon{
        width: $icon-size-small;
        padding-right: $normal-padding;
    }
}